@using WebApplication1.Data.ViewModel
@model List<EmployeeViewModel>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
               DateOfBirth
            </th>
            <th>
               Gender
            </th>
            <th>
                DepartmentRefId
            </th>
            <th>
                DepartmentName
            </th>
            <th>
                NationalityRefId
            </th>
            <th>
               NationalityText
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentRefId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalityRefId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalityText)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>